<div class="jumbotron">
  <h1 class="display-4">Scheidt & Bachmann Mexico S.A. de C.V.</h1>
  <br>
  <div>
  <p class="lead">Presentamos la sólida tecnología de vanguardia para control y administración de estacionamientos de entervo por Scheidt & Bachmann. Completamente integrada, combina a la perfección innovadoras soluciones de software con equipos de gran durabilidad, altamente flexibles, abiertos a interactuar con terceros de manera fácil, segura y adaptables a todo tipo de instalaciones
  </p></div>
</div>
<form>
  <div class="form-group container-sm">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group container-sm">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check container-sm">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
